{% extends "common.html" %}

{% block content %}

<div class="container mt-5">

    <form method="POST" class="col-md-5 mx-auto card p-4 shadow-lg">

        {% csrf_token %}

        <h2 class="text-center mb-4">Login</h2>

        <div class="mb-3">
            <label for="username" class="form-label">
                Username
            </label>

            <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Enter Username"
                required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">
                Password
            </label>

            <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter Password"
                required>
        </div>

        <button type="submit" class="btn btn-primary w-100">
            Login
        </button>

        <div class="text-center mt-3">
            Don't have an account?
            <a href="{% url 'register' %}">
                Register
            </a>
        </div>

    </form>

</div>

{% endblock %}