{% extends "student/common.html" %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Student List</h3>
        </div>

        <div class="card-body">

            <table class="table table-bordered table-hover align-middle">

                <thead class="table-dark">

                    <tr>
                        <th scope="col">#</th>
                        <th>Student ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Age</th>
                        <th>Department</th>
                        <th>Address</th>
                    </tr>

                </thead>

                <tbody>

                {% for student in students %}

                    <tr>
                        <th scope="row">{{ students.start_index|add:forloop.counter0 }}</th>

                        <td>{{ student.student_id }}</td>

                        <td>{{ student.student_name }}</td>

                        <td>{{ student.student_email }}</td>

                        <td>{{ student.student_age }}</td>

                        <td>{{ student.student_department.student_department }}</td>

                        <td>{{ student.student_address }}</td>

                    </tr>

                {% empty %}

                    <tr>
                        <td colspan="6" class="text-center">
                            No students found.
                        </td>
                    </tr>

                {% endfor %}

                </tbody>

            </table>

        </div>
         <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">

        {% if students.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ students.previous_page_number }}">
                Previous
            </a>
        </li>
        {% endif %}

        {% for page in students.paginator.page_range %}
        <li class="page-item {% if students.number == page %}active{% endif %}">
            <a class="page-link" href="?page={{ page }}">
                {{ page }}
            </a>
        </li>
        {% endfor %}

        {% if students.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ students.next_page_number }}">
                Next
            </a>
        </li>
        {% endif %}

    </ul>
</nav>
    </div>

</div>

{% endblock %}